# OS junk
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Node / builds (if you add tooling later)
node_modules/
dist/
build/

# API Keys
./api.txt
.env
.env.*

git rm -r --cached .DS_Store

# Local Netlify folder
.netlify
